.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: black;
}

.text_theme_dark {
  color: white;
}

.logo {
  width: 228px;
  height: 32px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.cell-title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.small-title {
  margin: 0;
  width: 175px;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
  line-height: 1.2;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.cell-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Первый блок в коде */
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin: 0;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(/images/logo_place_header.svg);
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  margin: auto 64px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  background-size: cover;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  background-size: cover;
  background-image: url(/images/two_again.png);
}

/* Второй блок в коде */

/* и элемента с модификатором вида ключ-значение */
.description__two-columns {
  margin: 100px auto;
  width: 80%;
  align-items: flex-start;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__main-text {
  flex-basis: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  margin-top: 0;
}

/* Третий блок в коде */

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.digits__section-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 0;
  width: 60%;
}

.digits__section-subtitle {
  margin: auto;
  width: 60%;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.table__heading {
  margin: 0;
  text-align: left;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__text {
  margin-top: 20px;
}

/* Четвертый блок в коде */

.feynman {
  position: relative;
  background-color: #f2f2f2;
  height: 890px;
  margin: auto;
}

.feynman__title {
  width: 648px;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: absolute;
  z-index: 3;
}

.feynman__subtitle {
  position: absolute;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
}

.feynman_image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__link {
  position: absolute;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  top: 50%;
  right: 48px;
}

/* Пятый блок в коде */

.kaufman {
  position: relative;
  background-color: black;
  min-height: 600px;
  overflow: hidden;
  margin: 0;
  z-index: -1;
}

.kaufman_image {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -2;
}

.section-title_theme_dark {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 90px;
  padding-top: 0;
  width: 60%;
}

.section-subtitle_theme_dark {
  margin: auto;
  width: 60%;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.table__heading_theme_dark {
  margin: 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__text_theme_dark {
  margin-top: 20px;
}

/* Футер - блок в коде */

.footer {
  background-color: black;
  min-height: 350px;
  margin: 0 auto;
}

.logo_place_footer {
  background-image: url(/images/logo_place_footer.svg);
}

.footer__columns {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-height: 250px;
}

.column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__autor {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  vertical-align: middle;
}

.social-icon-facebook {
  background: url("/images/facebook_color_white.svg") no-repeat;
}

.social-icon-vkontakte {
  background: url("/images/vk_color_white.svg") no-repeat;
}

.social-icon-instagram {
  background: url("/images/instagram_color_white.svg") no-repeat;
}
